<div class="max-w-md">
  <label for="<%= @dom_id %>" class="block mb-2.5 text-sm font-medium <%= @styles[:label] %>"><%= @label %></label>
  <% if @prefix %>
    <div class="flex">
      <span class="inline-flex items-center px-3 text-sm text-body bg-neutral-secondary-medium border border-e-0 border-default-medium rounded-s-base"><%= @prefix %></span>
      <input type="<%= @type %>" id="<%= @dom_id %>" name="<%= @name %>" class="border text-sm rounded-e-base block w-full px-3 py-2.5 shadow-xs <%= @styles[:input] %> <%= "disabled:cursor-not-allowed disabled:opacity-50" if @disabled %>" placeholder="<%= @placeholder %>" value="<%= @value %>" <%= "disabled" if @disabled %> <%= tag.attributes(@html_options) %>>
    </div>
  <% else %>
    <input type="<%= @type %>" id="<%= @dom_id %>" name="<%= @name %>" class="border text-sm rounded-base block w-full px-3 py-2.5 shadow-xs <%= @styles[:input] %> <%= "disabled:cursor-not-allowed disabled:opacity-50" if @disabled %>" placeholder="<%= @placeholder %>" value="<%= @value %>" <%= "disabled" if @disabled %> <%= tag.attributes(@html_options) %>>
  <% end %>
  <% if @message %>
    <p class="mt-1.5 text-sm <%= @styles[:label] %>"><%= @message %></p>
  <% end %>
</div>
